<ion-content class="background" [fullscreen]="true">
  <div class="background-images">
    <div class="top-image">
      <ion-img slot="fixed" src="assets/images/bubble1.svg"></ion-img>
    </div>
    <div class="center-image">
      <ion-img slot="fixed" src="assets/images/bubble2.svg"></ion-img>
    </div>
    <div class="bottom-image">
      <ion-img slot="fixed" src="assets/images/waves.svg"></ion-img>
    </div>
  </div>
  <div  class="content">
    <ion-text color="light">
      <h1 class="logo">Mentor Me</h1>
      <p class="sub-text">A Value exchange 
        application</p>
    </ion-text>
  </div>
</ion-content>