<ion-content [fullscreen]="true">
  <app-background></app-background>
  <div class="content">
    <ion-row class="header-text-container">
      <ion-text class="header-text">
        Please take photo of your ID, both front and back.
      </ion-text>
    </ion-row>

    <div class="take-img">
      <div class="frame">
        <ion-img *ngIf="imageInBase64" [src]="imageInBase64"></ion-img>
      </div>
    </div>

    <div class="id-sides">
      <ion-text class="sm-body-text">
        Front
      </ion-text>
      <ion-text class="sm-body-text">
        Back
      </ion-text>
    </div>

    <ion-row class="next-btn">
      <ion-button (click)="selectImage()" class="btn actions-btn">
        Next
      </ion-button>
    </ion-row>
  </div>
</ion-content>