.notification {
    display: flex;
    align-items: center;
    background: #E8F9FD;
    border: 1px solid rgba(10, 161, 221, 0.82);
    border-radius: 3px;
    width: 90%;
    height: 62px;
    margin-left: auto;
    margin-right: auto;

    ion-avatar {
        height: 36px;
        width: 36px;
        margin-left: 20px;
    }

    ion-text {
        font-family: 'Oxygen';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;

        color: rgba(10, 161, 221, 0.82);

        a {
            font-weight: 700;
            text-decoration: underline;
        }
    }
}