swiper-slide {

    ion-text {
        font-family: 'Nunito';
        font-style: normal;
        line-height: 22px;
        color: #000000;
        display: block;
    }

    .name {
        margin-top: 10px;
        font-size: 16px;
        font-weight: 800;
    }

    .profession {
        font-size: 13px;
    }

}