/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

@font-face {
    font-family: "Oxygen";
    src: local("Oxygen"), url(./assets/fonts/oxygen/Oxygen-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Play";
    src: local("Play"), url(./assets/fonts/play/Play-Regular.ttf) format("truetype");
}

ion-content {
    --background: linear-gradient(180deg, #2155CD 0%, rgba(10, 161, 221, 0.82) 63.54%, rgba(121, 218, 232, 0.12) 100%);
}

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/*Global padding*/
.content {
    padding-top: 45px;
    padding-right: 30px;
    padding-left: 30px;
    box-sizing: border-box;
    background: transparent;
}
/* Buttons*/
.btn {
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    --background-activated: white;
    --color-activated: var(--ion-color-primary);
    --border-radius: 3px;
}

.actions-btn {
    background: #0AA1DD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    width: 196px;
    height: 60px;
}

/*page heading*/
.header-text-container {
    margin-left: auto;
    margin-right: auto;

    .header-text {
        font-family: 'Play';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        color: #E8F9FD;
    }
}

/* Date picker */
ion-modal#pick-date {
    --width: fit-content;
    --min-width: 250px;
    --height: fit-content;
    --border-radius: 6px;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
  }